/* Apply Roboto font, center alignment, and dark gradient background to the whole body */
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: linear-gradient(to right, #282828, #383838);
    color: #21D19F;
}

/* Header styles */
#header {
    padding: 20px;
    margin-bottom: 20px;
}

#header h1 {
    color: #21D19F;
}

/* Apply padding to each screen (start, game, and end) */
#startScreen,
#gameScreen,
#endScreen {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 10px auto;
    max-width: 600px;
    background-color: #282828;
    color: #21D19F;
}

/* Introduction paragraph style */
#startScreen p {
    font-size: 18px;
    color: #21D19F;
    margin: 20px auto;
    max-width: 800px;
    /* limit the width of the paragraph */
}

/* Initially hide the game and end screens */
#gameScreen,
#endScreen {
    display: none;
}

/* Style the rules section with a border and background */
#rules {
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #21D19F;
    border-radius: 10px;
    background-color: #282828;
    font-size: 18px;
}

#rules ul {
    list-style-type: none;
}

#rules ul li {
    margin-bottom: 10px;
}

#rules ul li::before {
    content: "👉 ";
    color: #21D19F;
}

/* Style the buttons. Add some padding and margin for spacing. */
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #21D19F;
    color: #282828;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Change the button's background color when hovered over */
button:hover {
    background-color: #16a085;
}

/* Change the button's background color when clicked */
button:active {
    background-color: #107360;
}