/* Apply Roboto font, center alignment, and light gray background to the whole body */
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #000000;
    color: rgb(4, 248, 37);
}